# y = m1x1 + m2x2 +.....+ mnxn + c

In [9]:
import pandas as pd 
from sklearn import linear_model

In [18]:
df = pd.read_csv('multiple_linear_regression_dataset.csv')
df

    age  experience  income
0    25         1.0   30450
1    30         3.0   35670
2    47         2.0   31580
3    32         5.0   40130
4    43        10.0   47830
5    51         7.0   41630
6    28         NaN   41340
7    33         4.0   37650
8    37         5.0   40250
9    39         8.0   45150
10   29         1.0   27840
11   47         9.0   46110
12   54         5.0   36720
13   51         4.0   34800
14   44         NaN   51300
15   41         6.0   38900
16   58        17.0   63600
17   23         1.0   30870
18   44         9.0   44190
19   37        10.0   48700

In [22]:
DF = df.fillna(df.experience.median())

In [23]:
DF

    age  experience  income
0    25         1.0   30450
1    30         3.0   35670
2    47         2.0   31580
3    32         5.0   40130
4    43        10.0   47830
5    51         7.0   41630
6    28         5.0   41340
7    33         4.0   37650
8    37         5.0   40250
9    39         8.0   45150
10   29         1.0   27840
11   47         9.0   46110
12   54         5.0   36720
13   51         4.0   34800
14   44         5.0   51300
15   41         6.0   38900
16   58        17.0   63600
17   23         1.0   30870
18   44         9.0   44190
19   37        10.0   48700

In [24]:
reg = linear_model.LinearRegression()

In [26]:
reg.fit(DF[['age','experience']],DF.income)

LinearRegression()

In [27]:
reg.predict([[40,12]])

E:\anaconda\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([53420.37837576])

In [28]:
reg.coef_

array([ -41.62728115, 2064.95088198])

In [31]:
reg.intercept_

30306.059037834548

# proof:

In [32]:
y = -41.62728115*40 + 2064.95088198*12 + 30306.059037834548
y

53420.37837559455

In [3]:
data = pd.read_csv('homeprices (1).csv')
data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [14]:
data.bedrooms = data.bedrooms.fillna(data.bedrooms.median())

In [15]:
data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

#if the median balue is float then:               ** import math                  ** s = math.floor(bedroom.median())

In [8]:
r = linear_model.LinearRegression()

In [9]:
r.fit(data[['area','bedrooms','age']],data.price)

LinearRegression()

In [10]:
r.predict([[3000,3,40]])

E:\anaconda\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([498408.25158031])

In [11]:
r.predict([[2500,4,5]])

E:\anaconda\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([578876.03748933])

In [12]:
r.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [13]:
r.intercept_

221323.00186540408

In [10]:
frame = pd.read_csv('hiring.csv')
frame

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [11]:
frame.experience = frame.experience.fillna('zero')

In [12]:
frame

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [13]:
! pip install word2number

Requirement already satisfied: word2number in e:\anaconda\lib\site-packages (1.1)

In [14]:
from word2number import w2n

In [15]:
frame.experience = frame.experience.apply(w2n.word_to_num)

In [16]:
frame

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    NaN                           7      72000
7          11                    7.0                           8      80000

In [21]:
import math

In [27]:
m = math.floor(frame['test_score(out of 10)'].mean())

In [28]:
m

7

In [32]:
frame['test_score(out of 10)'] = frame['test_score(out of 10)'].fillna(m)

In [33]:
frame

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    7.0                           7      72000
7          11                    7.0                           8      80000

In [34]:
g = linear_model.LinearRegression()

In [36]:
g.fit(frame[['experience','test_score(out of 10)','interview_score(out of 10)']],frame['salary($)'])

LinearRegression()

In [37]:
g.predict([[2,9,6]])

E:\anaconda\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([53713.86677124])

In [41]:
g.predict([[12,10,10]])

E:\anaconda\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([93747.79628651])

In [39]:
g.coef_

array([2922.26901502, 2221.30909959, 2147.48256637])

In [40]:
g.intercept_

14992.65144669314